.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 70px;
    margin: 40px auto;
    max-width: 1200px;
    padding: 40px 20px;
    background-color: #f7cdfa;
    border-radius: 50px;
  }
  .grid-container a {
    color: inherit;
  }
  
  .grid-item {
    background-color: #410a63;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .grid-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .grid-item h3 {
    margin: 15px 0 5px;
    font-size: 1.7rem;
    color: white;
  }
  
  .grid-item p {
    color: #e8e8e8;
    font-size: 1rem;
  }
  
  .grid-item:hover {
    transform: scale(1.03);
  }
  .event-price {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #ffd700; 
    font-weight: bold;
  }
  
  
@media (max-width: 400px) {
  .grid-item h3 {
    font-size: 1rem;
  }
  .grid-item p {
    font-size: 0.9rem;
  }
  
  .grid-item img {
    height: 150px;
  }
}
  